main > .container {
    width: 80%;
    padding: 80px 15px 60px;
    font-family: FuturaLight;
}

.nav-item {
    padding: 0px 10px;
}

@media (max-width:500px) {
    .navbar {
        flex-wrap: nowrap;
    }
    main > .container {
        width: 100%;
        padding: 60px 5px 5px;
    }
}